@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@plugin "@tailwindcss/typography";

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}
