@import "tailwindcss";

/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, business, corporate,
    night;
} */
@plugin "daisyui" {
  themes: cupcake --default, night, business, corporate, night;
}

@plugin "@tailwindcss/typography";

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}
